<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
    id="http://www.obigo.com/ces2020/OBIGO/C300/emanual"
    autostart='true'
    version="1.0.6"
    viewmodes="fullscreen">
    <name short="emanual">E-Manual</name>
    <description>E-Manual</description>
    <icon src="icon.png" />
    <content src="index.html" type="text/html" />
    <author>Obigo</author>
    <license>Obigo</license>
    <thumbnail src="thumbnail.png" />
    <access origin="*" />
    <meta-data>
      <manifest-version>1.2.1.0</manifest-version>
      <store-id>COM.OBIGO.COMMON.EMANUAL</store-id>
    </meta-data>

    <gadgets>
      <!-- gadget information : Obigo Extension Field (Optional) -->
      <gadget size="s" description="S">
        <content src="gadgets/index.html" type="text/html" />
        <preview src="gadgets/icons/{@resource}/s/preview.png" />
      </gadget>
    </gadgets>

    <feature name="http://www.obigo.com/api/applicationmanager.getownerapplication" required="true"><param name="version" value="3.1.5.3" /></feature>
    <feature name="http://www.obigo.com/api/vehicle" required="true">
      <param name="version" value="2.1.2.1" />
    </feature>
    <feature required="true" name="http://www.obigo.com/api/storage">
      <param name="version" value="1.1.0.0"/>
    </feature>

</widget>
